.rnl::-webkit-outer-spin-button,
.rnl::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.css-companyRnl-list{
    list-style-type: none;
    text-align: left;
}
.cssbtnRnc{
  text-align: left !important;
}
