.css-drop-settings {
  color: black;
  font-size: 34px;
}

.icon-bar {
  height: 1px;
  width: 3px;
  background: black;
}
.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(2) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.minus.collapsed .icon-bar:nth-of-type(3) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggle.minus .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 6px, 0);
}

.navbar-toggle.minus .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -6px, 0);
}

.cs-next-bell {
  border-radius: 100% !important;
  margin: -10px;
  position: absolute;
}

.drop {
  padding: 0 !important;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  width: 15rem;
}

.card {
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--azulClaro);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.info {
  color: #1460b8;
  background: white;
}
.info:hover {
  color: white;
  background: #1460b8;
}

.dropdown-toggle::after {
  content: none;
}

a:hover {
  color: none;
  text-decoration: none !important;
}
.empty {
  border: 0px;
}

.danger {
  background: #ff4f4f;
}

::ng-deep.p-overlay-badge .p-badge {
  background: #ff4f4f;
  transform: translate(47%, -19%) !important;
  font-size: 10px;
}

::ng-deep.p-badge {
  border-radius: 15px !important;
  padding: 0px 0.2rem !important;
}
