.botones button{
  color: #1460B8;
  border: 1px solid #1460B8;
  font-weight: 700;
 padding: 10px;
}

select{
  border: 1px solid #1460B8 !important;
  color: #1460B8;
  font-weight: 700;

}

table tbody tr:hover .btnOutlinePrimary { visibility: visible; }
.btnOutlinePrimary {
  background: transparent;
  color: #1460B8;
  visibility: hidden;
}

th{
  color: #777777;
}

tr td{
  color: #444444; 
  padding: 18px;  
}

.btnPagination {
  color: #1460B8;
  border: 2px solid #1460B8;
  width: 140px;
}

.btnPagination:hover{
  background-color: #1460B8;
  color: #fff;
}

.pagination span{
  color: #1460B8;
}

.btnSearch {
  color: #1460B8;
  border: 1px solid #1460B8;
  font-weight: 700;
  padding: 10px;
}

.btnSearch:hover {
  background: #1460B8;
  color: #fff !important;
}