.btn-guardar, .btn-entendido, .btn-continuar{
  background-color: #1460B8;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  gap: 10px;
  width: 180px;
  height: 48px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.btn-continuar{
  color: #003876 !important;
  background-color: #E6EBF1 !important;
}

.btn-guardar:hover { background: #0f417c; }

.asterisco{
  color: #ED232A;
}