.title {
  font-family: proxima-font;
  color: #6687AD;
}

.footer {
  background: #F0F3F7;
  border: none;
}

.card-header:first-child {
  border-radius: 0px;
}

.card-footer:first-child {
  border-radius: 0px;
}

.card {
  border-radius: 0px;
}

.card-body {
  padding-bottom: 70px !important;
}

@media only screen and (max-width: 450px) {
  .card {
    margin: auto !important;
    margin-bottom: 10px !important;
  }
}

.noData-icon {
  font-size: 113px;
  color: #a6b9cf;
}

.pieDrop {
  color: blue;
}
