:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .hidden {
    overflow: hidden;
  }
  
  .routeoutlet {
    height: 90%;
  }
  
  p {
    font-family: Lato;
  }
  
  hr {
    margin: 0 !important;
  }
  
  