.btn-upload {
    position: relative;
    padding: 8px 22px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background: #1460B8;
    border: 0;
    overflow: hidden;
    transition: 0.2s;
  }
  
  .btn-upload:hover { background: #0f417c; }
  
  .btn-upload input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(5);
    opacity: 0;
  }

  .documentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    padding: 10px;
    border-radius: 12px;
    width: fit-content;
    background: #f0f3f7;
    margin: 7px;
  }
  
  .documentContainer:hover { background: #fffdfd; }
  
  .documentContainer span {
    color: cornflowerblue;
    font-weight: 600;
  }
  
  .documentContainer a { 
    text-decoration: none;
    background: #d7e5f9;
    padding: 6px;
    border-radius: 41px;
    margin: 2px;
    width: 37px;
    text-align: center;
  }
  
  .documentContainer a.downloadBtn {
    background: #1460B8;
    color: #F0F3F7;
  }
  
  .documentContainer a.deleteBtn {
    background: #ED232A;
    color: #F0F3F7;
  }