/* .p-component,
.p-component * {
  border: none !important;
}
.cs-textbox-calendar {
  background-color: #e9ecef61;
  font-size: 1.05rem !important;
}
.cs-textbox-calendar:hover {
  cursor: no-drop;
}
.cs-calendar {
  font-size: 14px;
}
.container-fixed-grid {
  width: 100%;
}
.css-label-btn-grid {
  margin: 0px !important;
  padding: 4px !important;
  font-weight: bold !important;
}

.check {
  margin-top: 3.5rem;
}
.check-table-grid {
  margin: 0px 21px !important;
  padding: 6px 0px 0px 0px;
  align-content: flex-end;
}

.noInternetCon {
  background: rgba(227 65 65 / 43%);
  margin: 20px;
  height: 80vh !important;
  border-radius: 15px;
}
.iconContainer {
  min-width: 17rem;
}

.advancedFilterbtn {
  font-family: "proxima-font-bold" !important;
  width: 12rem;
  margin-right: 10px;
  border-radius: 0px;
}

.buttons {
  height: 46px !important;
  border-radius: 0px;
} */
.botones button{
  color: #1460B8;
  border: 1px solid #1460B8;
  font-weight: 700;
}

.tituloH{
  color: #444444;
  font-weight: 600;
  font-size: 24px;
}

 select, input{
  border: 1px solid #1460B8 !important;
  color: #1460B8;
  font-weight: 700;
  border-radius: 0px;

}
.btnSearch{
  height: 46px;
  width: 50px;
  border-radius: 0px;
  margin-left: -103px;
  background-color: #1460B8;
  color: #fff !important;
}

.btnExport{
  height: 46px;
  /* width: 50px; */
  border-radius: 0px; 
}

.btnSearch i{
  font-size: 20px;
}

table tbody tr:hover .btnOutlinePrimary { visibility: visible; }
.btnOutlinePrimary {
  background: transparent;
  color: #1460B8;
  visibility: hidden;
}

th{
  color: #777777;
}

tr td{
  color: #444444; 
  padding: 18px;  
}

.btnPagination {
  color: #1460B8;
  border: 2px solid #1460B8;
  width: 140px;
}

.btnPagination:hover{
  background-color: #1460B8;
  color: #fff;
}

.pagination span{
  color: #1460B8;
}



.btnSearch:hover {
  background: #1460B8;
  color: #fff !important;
}

.btnBusquedad{
  border-radius: 0px;
  background-color: #fff;
  color: #1460B8 ;
  padding: 10px;
  width: 70%;
}

/* .btnBusquedad:hover{
  background-color: #0e4d96;
} */

.btn-guardar{
  background-color: #1460B8;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  gap: 10px;
  width: 180px;
  height: 48px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.btn-guardar:hover { background: #0f417c; }

/* .modal-body input ,select{
  border-color: #E1E1E1 !important;
  color: #444444 !important;
} */

.busquedadSimple{
  border-radius: 0%;
  border-color: #1460B8 !important;
}

#dailyAttendanceTable thead tr th a:hover { 
  cursor: pointer; 
  color: #1460B8; 
  font-weight: 600;
}

