.code-display {
  position: relative;
}

.caption {
  font-weight: bold;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-x: auto;
}

button {
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #1460B8;
  color: #fff;
  border: none;
  padding: 3px 7px;
  cursor: pointer;
  border-radius: 4px;
}
  
  