body {
  font-family: 'Proxima-nova';
}

.alert.alert-primary {
  background: #cce5ff;
}
.css-alert-light {
  background: #cce5ff40 !important;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #003876;
}

.divider {
  height: 1px;
  background: #6687AD;
  width: 100%;
}

.paralegal .col-md-4 select { height: 45px; }

.btn-guardar, .btn-entendido, .btn-continuar{
  background-color: #1460B8;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  gap: 10px;
  width: 180px;
  height: 48px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.btn-listo{
  width: 110px;
  height: 39px; 
}


.btn-continuar{
  color: #003876 !important;
  background-color: #E6EBF1 !important;
}

.btn-guardar:hover { background: #0f417c; }

.asterisco{
  color: #ED232A;
}

.btn-anadir, .btn-agregarNota{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;  
  color: #1460B8;
  border: 1px solid #1460B8;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 10px;
  width: 230px;
  height: 36px;
}

.btn-agregarNota{
  border: none;
}

.dEmpleador{
  color: #6687AD;
}

.maximoRe{
  color: #6687AD;
  font-weight: 300;
}
.form-check-input{
  height: 30px !important;
  width: 30px;
  border: 3px solid #6b6b6b !important;
}

.cardChechbox{
  width: 60%;
}

.selectTipoPersona{
  width: 60%;
}

.cardForm{
  background-color: #F0F3F7;
}

.monedaSelect{
  color: #1460B8;
  background-color: #E6EBF1;
}

.subirArchivo{
  background-color: #003876;
  color: #fff;
}

.form-select {
  border-radius: 0px;
}

#especifique{
  display: none;
}

#errorMessage { display: none; }

.texto{
  color:#777777;
}


.icono i{
  color: #23ED60;
  background: rgba(35, 237, 96, 0.1);
}

.iconoAviso i{
  color: #EDBE23;
  background: rgba(237, 190, 35, 0.1);
}

/* style Referencia Personal */

.btn-anadirReferencia{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;  
  color: #1460B8;
  margin-left: -11px;
  font-weight: bold;
  margin-bottom: -12px;
}

.maximoReferencia{
  margin-left: 30px;
  margin-top: -17px;
}

#empresa, #personaFisica{
  display: none;
}

.adjuntaDatos{
  display: none;
}

#tipoEmpleador{
  display: none;
}

.fa-check-circle-o{
  color: #23ED60;
}

#formulario2{
  display: none;
}
.spamDop{
  color: #0f417c;
}

.btn-upload {
  position: relative;
  padding: 8px 22px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  background: #1460B8;
  border: 0;
  overflow: hidden;
  transition: 0.2s;
}

.btn-upload:hover { background: #0f417c; }

.btn-upload input[type="file"] {
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(5);
  opacity: 0;
}

/* #empleador, #trabajador { display: none; } */

#especifiqueCausa {
  display: none;
}

.boton-guardar{
  margin-bottom: 70px;
}

.showDiv {
  display: block !important;
 
}

.hiddeDiv {
  display: none !important;
}

.documentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
  width: fit-content;
  background: #f0f3f7;
  margin: 7px;
}

.documentContainer:hover { background: #fffdfd; }

.documentContainer span {
  color: cornflowerblue;
  font-weight: 600;
}

.documentContainer a { 
  text-decoration: none;
  background: #d7e5f9;
  padding: 6px;
  border-radius: 41px;
  margin: 2px;
  /* width: 37px; */
  text-align: center;
}

.documentContainer.correspondenciaContainer a { 
  text-decoration: none;
  background: #d7e5f9;
  padding: 6px;
  border-radius: 41px;
  margin: 2px;
  text-align: center;
}

.documentContainer a.downloadBtn {
  background: #1460B8;
  color: #F0F3F7;
}

.documentContainer a.deleteBtn {
  background: #ED232A;
  color: #F0F3F7;
}

a.link { color: #1460B8; text-decoration: none; }

#AsistenciaJudicial {
  display: none;
}

.invalid-field {
  border: 1px solid red;
}