body {
  font-family: "muli, sans-serif";
  font-weight: 300;
  color: var(--sidebarBackground);
}

.bg-primary {
  background-color: #F0F3F7 !important;
}
.sidebar-container {
  min-height: 100vh;
  width: 98%;
}

.menu a {
  font-family: var(--font-style-normal) normal var(--font-weight-bold) 18px/22px
    var(--font-family-proxima-nova);
  letter-spacing: var(--character-spacing-0);
  text-align: left;
  font-family: normal normal bold 18px/22px Proxima Nova;
  letter-spacing: 0px;
  color: #8e8e8e;
  opacity: 1;
  cursor: pointer;
}
.sidebar-container .logo {
  padding: 1.45rem 1.45rem;
}

.logo { 
  font-size: 48px;
  font-weight: 600;
  color: #003777;
  text-align: center;
}

.sidebar-container .menu {
  width: 100%;
}

a:hover {
  text-decoration: none !important;
}

.is-active {
  box-shadow: -5px 0px 0px 0px var(--azulClaro);
  color: var(--azulClaro) !important;
}
.sidebarTitle {
  color: var(--sidebarTittle);
  font-family: "Roboto";
  font-size: 40px;
  font-weight: bold;
}

.nav-link {
  font-family: "proxima-font-bold";
  font-weight: bold;
  font-size: 18px;
  padding-left: 1.4rem;
  height: 60px !important;
}

.report-icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url(../../../assets/icons/reports.svg);
  mask-image: url(../../../assets/icons/reports.svg);
  background-color: #8e8e8e;
  width: 20px;
  height: 27px;
}
.collection-icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url(../../../assets/icons/collections.svg);
  mask-image: url(../../../assets/icons/collections.svg);
  background-color: #8e8e8e;
  width: 25px;
  height: 17px;
}
.dashboard-icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url(../../../assets/icons/dashboard.svg);
  mask-image: url(../../../assets/icons/dashboard.svg);
  background-color: #8e8e8e;
  width: 25px;
  height: 25px;
}

.admin {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url(../../../assets/icons/usuarios.svg);
  mask-image: url(../../../assets/icons/usuarios.svg);
  background-color: #8e8e8e;
  width: 25px;
  height: 20px;
}

.auditory {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url(../../../assets/icons/print.svg);
  mask-image: url(../../../assets/icons/print.svg);
  background-color: #8e8e8e;
  width: 25px;
  height: 20px;
}

.is-active .workshop {
  background-color: var(--azulClaro);
}
.is-active .admin {
  background-color: var(--azulClaro);
}

.is-active .dashboard-icon {
  background-color: var(--azulClaro);
}

.is-active .collection-icon {
  background-color: var(--azulClaro);
}
.is-active .report-icon {
  background-color: var(--azulClaro);
}
.is-active .auditory {
  background-color: var(--azulClaro);
}
